<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
	<link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1 class="head"><span>AYMAN</span>Company</h1>
      <p class="head">One of the leading companies in this field</p>
      <div class="clear"></div>
    </header>
    <nav>
      <ul>
        <li id="first-nav"><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contract.html">Contracts</a></li>
        <li><a href="contact.html">Contact us</a></li>
      </ul>
    </nav>
    <main>
	<h3>Abut Company</h3>
	<p>ayman company it's One of the leading companies in this field</p>

	  
    </main>
	<footer>
		<div>
		<p>copyright &copy ayman</p>
		</div>
	</footer>
  </body>
</html>