<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
	<link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1 class="head"><span>AYMAN</span>Company</h1>
      <p class="head">One of the leading companies in this field</p>
      <div class="clear"></div>
    </header>
    <nav>
      <ul>
        <li id="first-nav"><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contract.html">Contracts</a></li>
        <li><a href="contact.html">Contact us</a></li>
      </ul>
    </nav>
    <main>
		gggfgf gggg gggg gggg gggg gggg gggg gg gg gggggg gggg gggg gggg
		gggg ggggg ggg gggggg gggggg ggggg ggg gggg gggg ggggg gggg ggg
		ggggg gggg ggggg gggg ggggg ggggg ggggg gg ggg ggggg ggggg gggg
    </main>
	<footer>
		<div>
		<p>copyright &copy ayman</p>
		</div>
	</footer>
  </body>
</html>