<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ayman</title>
	<link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <header>
      <h1 class="head"><span>AYMAN</span>Company</h1>
      <p class="head">One of the leading companies in this field</p>
      <div class="clear"></div>
    </header>
    <nav>
      <ul>
        <li id="first-nav"><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contract.html">Contracts</a></li>
        <li><a href="contact.html">Contact us</a></li>
      </ul>
    </nav>
    <main>
	  <section id="img">
			<img src="../image/web.jpg" alt="natural gas" width="100%" height="90%">	
	  </section>
	  <div class="clear"></div>
    </main>
	<footer>
		<div>
		<p>copyright &copy ayman company</p>
		</div>
	</footer>
  </body>
</html>