<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ayman</title>
	<link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1 class="head"><span>AYMAN</span>Company</h1>
      <p class="head">One of the leading companies in this field</p>
      <div class="clear"></div>
    </header>
    <nav>
      <ul>
        <li id="first-nav"><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contract.html">Contracts</a></li>
        <li><a href="contact.html">Contact us</a></li>
      </ul>
    </nav>
    <main>
	  <section id="form">
		  <h3>New contract:</h3>
		  <form>
			<input type="text" name="name" placeholder="Full Name" required>
			<input type="text" name="address" placeholder="Address" required>
			<input type="text" name="mobile" placeholder="Mobile" required>
			<input type="text" name="crn" placeholder="CRN" required>   
			<input type="text" name="note" placeholder="Note" required>
			<input id="submit" type="submit" value="Submit">
		  </form>
	  </section>
	  <section id="img">
			<img src="gas.jpg" alt="natural gas" width="500" height="500">	
	  </section>
	  <div class="clear"></div>
    </main>
	<footer>
		<div>
		<p>copyright &copy ayman</p>
		</div>
	</footer>
  </body>
</html>